<head>
  <title>パスワード編集</title>
</head>

<body class="body-edit-user">
  <div align="center" class="main-edit-user">
    <p class="su"><%= current_user.name %>Changing the password Edit Avatar
 </p>
<% if flash[:error] %>
  <div style="color: red; margin-bottom: 20px;"><%= flash[:error] %></div>
<% end %>
<%= form_for current_user, url: user_update_password_path, method: :patch do |f| %>
<%= f.password_field :password, autofocus: true, placeholder: "New password", class: "pass" %>
<%= f.password_field :password_confirmation, autofocus: true, placeholder: "Password authentication", class: "pass" %>
<%= f.password_field :current_password, autofocus: true, placeholder: "Current password", class: "pass" %>
<%= f.submit "Edit", class: "submit" %>
<% end %>

  </div>
</body>
